* {
    font-family: Arial;
}

body {
    background-image: url(../images/HTML5.jpg);
    background-position: center center;
    background-attachment: fixed;
}

div {
    border-style: none;
    margin: 7px;
    padding: 100px;
}

#caja1 {
    border-color: red;
    background-color: cornflowerblue;
    margin: 2px;
    padding: 2px;
}

#caja2 {
    margin: 0 7px 7px 7px;
    background-color:paleturquoise;
    width: 5%;
    float: left;
    height: 500px;
    border-radius: 98px 98px 98px 98px;
    -moz-border-radius: 98px 98px 98px 98px;
    -webkit-border-radius: 98px 98px 98px 98px;
    border: 9px double #001eff;
}

#caja3 {
    margin: 0 7px 7px 0;
    border-color: darkgray;
    width: 40%;
    float: left;
    height: 500px;
}

#caja4 {
    margin: 0 0 7px 7px;
    width: 5%;
    float: left;
    height: 500px;
}

#caja5 {
    border: 2px coral dotted;
    margin: 0;
    border-color: darkolivegreen;
    float: left;
    width: 86%;
    height: 10px;
}

h1 {
    text-align: center;
    background-color: firebrick;
}

img {
    width: 301px;
    height: 180px;
}

a {
    background: center;
}