*{
    font-family: Arial;
}
body {
    background-image: url(../images/fondo1.jpg);
    background-position: center center;
    background-attachment: fixed;
}
div{
    border-style: none; 
    margin: 7px;
    padding: 100px;
}
table, tr,th,td {
    border: 2px solid indigo;
    padding:10px;
    
}
#caja1{
    border:5px red double;
    background-color: lightblue;
    margin: 1px;
    padding: 1px;
}
#caja2{
    margin: 0 7px 7px 0;
    width: 10%;
    float: left;
    height:150px;
}

#caja3{
    margin: 0 7px 7px 7px;
    width: 50%;
    float: left;
    height: 250px;
}
h1,h4,h5{
    text-align: center;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: darkmagenta;
    text-align: center;
}
p{
    color:midnightblue;
    background-color: dimgrey;
}